{{ define "main" }}

<section class="faq-section">
  <div class="auto-container">
      <!--Title-->
      <div class="sec-title text-center mb-0">
          <h2>Our Vision</h2>
      </div>
      <div class="title-boxabout mb-4">
          <h2 class="">To revolutionize Australia's solar market where buyers have transparent and unbaised information 
              and are able to choose best product and services for themselves.
          </h2>
      </div>
      <div class="sec-title text-center mb-0">
          <h2>Our Mission</h2>
      </div>
      <div class="title-boxabout">
          <h2 class="">To empower Australian solar buyers and make them independent in choosing the right products, services 
              and right price for all their solar needs.
          </h2>
      </div>
      

  </div>
  
</section>

      
<section class="about-section-four">

  <div class="auto-container">
      <div class="row clearfix">
          <!--Title Column-->
          <div class="title-column col-lg-7 col-md-12 col-sm-12 wow fadeInLeft" data-wow-delay="0ms"
              data-wow-duration="2000ms">
              <div class="inner">
                  <div class="sec-title">
                      <h2>Welcome To Energy Platform</h2>
                      <div class="bottom-dots clearfix">
                          <span class="dot line-dot"></span>
                          <span class="dot"></span>
                          <span class="dot"></span>
                          <span class="dot"></span>
                      </div>

                  </div>
                  <div class="text-content text-justify">
                      <p>We are an information based website with a goal to revolutionize Australian energy market.
                      </p>
                  </div>
                  <div class="sec-title">
                      <h2>What we do?</h2>
                      <div class="bottom-dots clearfix">
                          <span class="dot line-dot"></span>
                          <span class="dot"></span>
                          <span class="dot"></span>
                          <span class="dot"></span>
                      </div>

                  </div>
                  <div class="text-content text-justify">
                      <p>Energy Platform provides unbiased and transparent information to Australian renewable market
                          investors. We process thousands of data and act as a single point knowledge hub for all your 
                          solar energy related curiosities.
                      </p>
                      
                  </div>
                  <div class="sec-title">
                      <h2>What more?</h2>
                      <div class="bottom-dots clearfix">
                          <span class="dot line-dot"></span>
                          <span class="dot"></span>
                          <span class="dot"></span>
                          <span class="dot"></span>
                      </div>

                  </div>
                  <div class="text-content text-justify">
                      <p>We help solar buyers to assemble their own solar system from a variety of option to choose
                          from, help them buy stocks directly from the giant wholesale warehouses and connect with highly 
                          qualified solar installers, this helps buyers to cut off high commissions paid to solar companies.
                      </p>
                      
                  </div>
              </div>
          </div>

          <!--Text Column-->
          <div class="text-column col-lg-5 col-md-12 col-sm-12">
              <div class="featured-block-five col-lg-12 col-md-12 col-sm-12 wow fadeInRight"
                  data-wow-delay="0ms" data-wow-duration="2000ms">
                  <div class="inner-box">
                      <form>
                          <div class="form-group row">
                              <label for="staticEmail" class="col-sm-4 col-form-label">Name:</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control">
                              </div>
                          </div>
                          <div class="form-group row">
                              <label for="inputPassword" class="col-sm-4 col-form-label">Email ID:</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control">
                              </div>
                          </div>
                          <div class="form-group row">
                              <label for="inputPassword" class="col-sm-4 col-form-label">Contact No:</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control">
                              </div>
                          </div>
                          <div class="form-group row">
                              <label for="inputPassword" class="col-sm-4 col-form-label">Address:</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control">
                              </div>
                          </div>
                          <div class="form-group row">
                              <div class="text-center col-md-12">
                                  <button type="submit" class="mt-3 round_shadow_button">Submit <i
                                          class="fa fa-check-circle"></i></button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>


  </div>

</section>
  {{ end }}


